.navbar {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.item a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;

}

.item a.active {
    color: deepskyblue;
}